# Python
__pycache__/
*.py[cod]
*.pyc
.venv/
venv/
env/

# LaTeX build artifacts
*.toc
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex
%OUTDIR%/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment
.env

# Misc