.vscode/
.DS_Store
Thumbs.db
node_modules/
__pycache__/
*.pyc
*.pyo
*.log
dist/
build/
.env
.idea/
*.suo
*.user
*.userosscache
*.cache
2xkoshit/
chain weapon story/
Disciplinas/
Full project-20260219T174551Z-1-001 - Cópia/
Future Planning/
LIVROS DE PETRÓLEOS PROFISIONAL/
matéria de reservatórios que preciso de estudar/
MIT/
MIT GOOGLE EARTH/
MIT SCIENCE PAPER/
mycv/
petroleum-engineering-market-prospects/
petroleum-engineering-market-prospects-clone/
reuni/
SPE papers/
SPE(propostas de actividades breakdown)/
Story/
trading app/
Tseluca/
Tseluca_The_One/
walkie talkie reporter/
website building/
chain weapon story/chain-weapon-story/
Disciplinas/mecanica das rochas/
Disciplinas/reservatórios/
Full project-20260219T174551Z-1-001 - Cópia/MIT-SCIENCE-PAPER/
Master VS code Projects/2xkoshit/
Master VS code Projects/chain weapon story/
Master VS code Projects/Full project-20260219T174551Z-1-001 - Cópia/
Master VS code Projects/LIVROS DE PETRÓLEOS PROFISIONAL/
Master VS code Projects/matéria de reservatórios que preciso de estudar/
Master VS code Projects/MIT/
Master VS code Projects/MIT GOOGLE EARTH/
Master VS code Projects/MIT SCIENCE PAPER/
Master VS code Projects/petroleum-engineering-market-prospects/
Master VS code Projects/petroleum-engineering-market-prospects-clone/
Master VS code Projects/reuni/
Master VS code Projects/SPE papers/
Master VS code Projects/Story/
Master VS code Projects/Tseluca/
Master VS code Projects/Tseluca_The_One/
Master VS code Projects/website building/
Master VS code Projects/chain weapon story/chain-weapon-story/
Master VS code Projects/Full project-20260219T174551Z-1-001 - Cópia/MIT-SCIENCE-PAPER/
Master VS code Projects/website building/website-building/
petroleum market research/petroleum-engineering-market-prospects/
petroleum market research/petroleum-engineering-market-prospects/isptec/tseluca/Tseluca_The_One/Tseluka/
petroleum market research/petroleum-engineering-market-prospects/isptec/tseluca/Tseluca_The_One/Tseluka/oil&gas projects/thepetrolumen/thepetrolumen_new/
story&universes/chain-weapon-story/
THEMITSCIENCEPAPER^2/MIT-SCIENCE-PAPER-MVP-2-GROUP/
website building/website-building/
website building/website-corhed/
website building/website-pages/
