*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.out
*.toc
*.xdv
*.pdf
*.synctex.gz
*.gz
*.synctex
# Temporary and build directories
_minted-* 
build/
*.synctex(busy?)

# OS files
Thumbs.db
.DS_Store

# VSCode
.vscode/
